.education-content{
    min-height: 23rem;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    backdrop-filter: blur(1rem);
}

.education-content h6{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.8rem;
    background: linear-gradient(180deg, #ac96ff 0%, #7c5fe6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom:1.5px solid #6751b9;

}

.ssc-content{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}